<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns='http://www.springframework.org/schema/beans'
    xsi:schemaLocation='http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd'>
	
    <bean id="wicketApplication" class="nl.mpi.lamus.web.LamusWicketApplication" />
	
    <bean id="workspaceService" class="nl.mpi.lamus.web.model.mock.MockWorkspaceService">
	<constructor-arg ref="mockCreatedWorkspace" />
    </bean>
    
    <bean id="mockCreatedWorkspace" class="nl.mpi.lamus.web.model.mock.MockWorkspace">
	<property name="workspaceID" value="1"/>
    </bean>
    
    <bean id="archiveTreeProvider" class="nl.mpi.archiving.tree.ArchiveNodeTreeModelProviderImpl">
	<constructor-arg ref="archiveRootNode" />
    </bean>
    
    <bean id="archiveRootNode" class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
	<property name="name" value="RootNode"/>
	<property name="children">
	    <list>
<!--		<ref bean="childNode1" />
		<ref bean="childNode2" />-->
		<bean class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
		    <property name="parent" ref="archiveRootNode" />
		    <property name="name" value="Child1"/>
		    <property name="nodeId" value="101"/>
		</bean>
		    
		<bean class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
		    <property name="parent" ref="archiveRootNode" />
		    <property name="name" value="Child2"/>
		    <property name="nodeId" value="102"/>
		</bean>
	    </list>
	</property>
    </bean>
    
    <bean id="childNode1" class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
	<property name="name" value="Child1"/>
    </bean>
		    
		    
    <bean id="childNode2" class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
	<property name="name" value="Child2"/>
    </bean>
</beans>
