<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns='http://www.springframework.org/schema/beans'
    xsi:schemaLocation='http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd'>
	
    <!-- The application -->
	
    <bean id="wicketApplication" class="nl.mpi.lamus.web.LamusWicketApplication">
	<constructor-arg ref="sessionFactory" />
    </bean>

    <bean id="sessionFactory" class="nl.mpi.lamus.web.session.mock.MockLamusSessionFactory">
	<property name="userId" value="Joe Mock" />
	<property name="authenticated" value="true" />
    </bean>
	
    <!-- Workspace beans -->
	
    <bean id="workspaceService" class="nl.mpi.lamus.web.model.mock.MockWorkspaceService">
	<constructor-arg ref="mockCreatedWorkspace" />
    </bean>
    
    <bean id="mockCreatedWorkspace" class="nl.mpi.lamus.web.model.mock.MockWorkspace">
	<property name="workspaceID" value="1"/>
    </bean>
    
    <!-- Archive tree beans -->
    
    <bean id="createWorkspaceTreeProvider" class="nl.mpi.archiving.tree.ArchiveNodeTreeModelProviderImpl">
	<constructor-arg ref="archiveRootNode" />
    </bean>
    
    <bean id="archiveRootNode" class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
	<property name="name" value="RootNode"/>
	<property name="children">
	    <list>
		<bean class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
		    <property name="parent" ref="archiveRootNode" />
		    <property name="name" value="Child1"/>
		    <property name="nodeId" value="101"/>
		</bean>
		    
		<bean class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
		    <property name="parent" ref="archiveRootNode" />
		    <property name="name" value="Child2"/>
		    <property name="nodeId" value="102"/>
		</bean>
	    </list>
	</property>
    </bean>
    
    <!-- Workspace tree beans -->
    
    <bean id="workspaceTreeProvider" class="nl.mpi.archiving.tree.ArchiveNodeTreeModelProviderImpl">
	<constructor-arg ref="workspaceRootNode" />
    </bean>
    
    <bean id="workspaceRootNode" class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
	<property name="name" value="Workspace"/>
	<property name="children">
	    <list>
		<bean class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
		    <property name="parent" ref="workspaceRootNode" />
		    <property name="name" value="WorkspaceChild1"/>
		    <property name="nodeId" value="101"/>
		</bean>
		    
		<bean class="nl.mpi.lamus.web.model.mock.MockArchiveNode">
		    <property name="parent" ref="workspaceRootNode" />
		    <property name="name" value="WorkspaceChild2"/>
		    <property name="nodeId" value="102"/>
		</bean>
	    </list>
	</property>
    </bean>
</beans>
